export PORT=21301
export GITHUB_USER_NAME=$(git config user.name)
export GITHUB_USER_EMAIL=$(git config user.email)

export GITHUB_PAT="sample_pat"

if [ -f ".envrc.local" ]; then
    . .envrc.local
fi
